.hidden{
    display: none;
}

#seatContainer{
    display: grid;
    grid-template-columns: repeat(8,40px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.seat{
    background-color: #eee;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    transition: 0.3s;
}

.seat:hover{
    background-color: #a0e7e5;
}

.seat.selected{
    background-color: #6feaf6;
}

.summery{
    text-align: center;
    margin-top: 20px;
}

#btn{
    background-color: #008cba;
    color: wheat;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

#btn:disabled{
    background-color: grey;
    cursor: not-allowed;
}